*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:rgba(219, 197, 171, 0.4);
}

/* Biến dùng chung */
:root{
    /* Cho Header */
    --hearder-height: 80px;
    --header-text-color: #fff;
}

/* Class dùng chung */
.clear{
    clear: both;
}

.format-link{
    text-decoration: none;
}

.format-list{
    list-style: none;
    text-transform: uppercase;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row{
    margin-left:8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-second{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.col-fourth{
    width: 25%;
}

.mt-100 {
    margin-top: 100px;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.pt-100 {
    padding-top: 100px;
}

.pull-right{
    float: right !important;
}

/* Định dạng chữ */
.font-slide{
    font-family:'Ephesis', cursive;
}

.font-menu-script{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* HEADER */
#header
{
    width: 100%;
    height: var(--hearder-height);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 50px;
    position: fixed;
}

/* .header-container{
    /* padding: 0px 50px;
} */

#header .bakery_name{
    display: inline-block;
    /* width: 25%; */
    height: 35px;
    line-height:  var(--hearder-height);
    padding-left: 15px;
    font-family: 'Ephesis', cursive;
    font-weight: 5px;
    color: var(--header-text-color);
    font-size: 70px;
    /* text-transform: uppercase; */
}

#header .bakery_name:hover
{
    cursor: pointer;
    color: #c69f7c;
}

.tooltip-home {
    position: relative;
    display: inline-block;
  }

.tooltip-home .tooltiptext-home::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
  }

  
  /* Tooltip text */
.tooltip-home .tooltiptext-home {
    visibility: hidden;
    width: 120px;
    font-size: 12px;
    line-height: 20px;
    text-transform: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip-home:hover .tooltiptext-home {
    visibility: visible;
  }


#header .nav{
    line-height:  var(--hearder-height);
    float: right;
}

#header .nav li{
    display: inline-block;
}

#header  .nav li a{
    color: var(--header-text-color);
    height: 30px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 7px;
}

#header .nav > li:hover,
#header .nav li:hover > a
{
    cursor: pointer;
    color: #c69f7c;
    text-decoration: underline;
}

#header .bakery_name:hover{
    cursor: pointer;
    color: #c69f7c;
}


#header .nav li a .subnav-ic{
    padding: 0px 5px;
}

#header .nav li .btn-signIn{
    padding: 8px 20px;
    border-style: solid #c69f7c;
    border-radius: 25px;
    background-color: #c69f7c;
    text-transform: none;
    margin-left: 10px;
}

#header .nav li .btn-signIn:hover{
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
}

#header .nav .cart-ic{
    font-size: 1.5rem;
    margin-left: 60px;
}
.menu{
    position: relative;
}

#header .nav .subnav{
    display: none;
    position: absolute;
    background-color: #ccc;
    top: 75%;
    left: 65%;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.6);
    min-width: 150px;
    padding: 0px;
}

#header .nav .subnav li{
    width: 100%;
}

#header .nav .subnav li a{
    color: black;
}

#header .nav .menu:hover .subnav{
    display: block;
}

#header .subnav li:hover
{
    cursor: pointer;
    background-color: #c69f7c;
}

#header .subnav li:hover a{
    color: #fff;
    /* text-decoration: underline; */
}


#slider{
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    height: 50rem;
    padding: 100% auto;
}

#slider .slide-content{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
}

#slider .slide-content h2{
    padding: 75px 0 0 0;
    font-size: 75px;
    font-weight: 5px;
    margin-bottom: -150px;
}

#slider .slide-content p{
    padding: 170px;
    text-align: center;
    font-size: 25px;
    font-family: "Sorts Mill Goudy", cursive;
}

#slider input[type = radio]{
    display: none;
}

#slider label{
    cursor: pointer;
    text-decoration: none;
}

#slides{
    padding: 0px;
    border: none;
    z-index: 1;
    background-color: #c69f7c;
}

#overflow{
    width: 100%;
    overflow: hidden;
}


#slides .inner{
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 300%;
    line-height: 0;
    height: 50rem;
    /* -webkit-animation: slide 14s ease infinite; */
}

/* @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -100%;}
    50% {margin-left: -100%;}
    60% {margin-left: -200%;}
    80% {margin-left: -200%;}
    90%{margin-left: 0px;}
} */

  #slide1:checked ~ #slides .inner{
    margin-left: 0;
}

#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner{
    margin-left: -200%;
}

#slides .inner .slide{
    width: 33.3333%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    height: 100%;
    color: #fff;
}

#slides .slide01{
    background: url('/assets/img/slider01.jpeg') top center /cover no-repeat;
}

#slides .slide02{
    background: url('/assets/img/slider05.PNG') top center /cover no-repeat;
}

#slides .slide03{
    background: url('/assets/img/slider03.jpeg') top center /cover no-repeat;
}


#controls{
    margin: -400px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
    clear: both;
}

#controls label{
    width: 40px;
    height: 50px;
    opacity: 0.2;
}

#controls label:hover{
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1){
    background: url(/assets/img/slider_arrow/chevron-right-solid.svg) no-repeat;
    float: right;
    background-color: #fff;
    margin-right: 50px;
    display: block;
}

#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(2){
    background: url(/assets/img/slider_arrow/chevron-left-solid.svg) no-repeat;
    float: left;
    background-color: #fff;
    margin-left: 50px;
    display: block;
}

#bullets{
    margin: 0px;
    text-align: center;
}

#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px -22rem 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3){
    background: #444;
}

@media screen and (max-width: 1300px) {
    #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
    }

    #slides{
        max-width: 100%;
        margin: 0 auto;
    }
}

/* CONTENT */
/* #content {
    padding: 0 100px;
    width: 100%;
} */


#content .content-section{
    width: 100%;
    padding: 54px 0px 12px 0px;
    margin-left: auto;
    margin-right: auto;
    
}

#content .menu-section{
    color: #fff;
    background-color: #331B07;
    
    margin-left:  70px;
    margin-right: 70px;

}
#content .section-heading{
    line-height: 40px;
    font-size: 38px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Special Elite', cursive;
    font-weight: 700;
    text-transform: uppercase;
}

#content .section-sub-heading{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}
#content .menu-name
{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
#content .menu-list {
    margin-top: 32px;
    
}

#content .menu-img
{
    width: 100%;
    display: block;
}
#content .menu-img:hover{
    opacity: 0.6;
    cursor: pointer;
}
#content .menu-body
{
    padding: 36px 8px;
    line-height: 1.4;
}


#content .about-section{
    padding-top: 36px;
}
#content .about-body {
    font-size: 30px;
    padding: 96px 50px;
    /* padding-top: 200px; */
    /* padding-right:200px; */
    line-height: 1.5;
    text-align: justify;
}

#content .menu-script{
    text-align: left;
}

#content .about-heading {
    font-size: 78px;
    text-transform: uppercase;
    font-weight: 900;
    color: #662f1d;
    padding-bottom: 24px;
    font-weight: 600;
}
#content .about-img{
    padding-left: 50px;
    max-width: 100%;
}
#content .more-story{
    margin-top: 65px;
    font-size: 30px;
    background-color: #662f1d;
    color: #e0e1dd;
    padding: 15px 50px;
    font-family: Garnett;
    text-transform: uppercase;
    border-style: none;
    letter-spacing:2px;
}
#content .more-story:hover{
    background: #381209;
    color: #fff;
    cursor: pointer;
}

#content .blog-img{
    width: 100%;
    display: block;
}

#content .blog-img:hover{
    opacity: 0.6;
}
#content .blog-content{
    position: absolute;
    left: 50%;
    margin-top: -28%;
    margin-left: -418px;
    width: 100%;
    max-width: 835px;
    text-align: center;
    padding: 39px 33px 12px;
    background: url(/assets/img/border/border1.png) no-repeat;
    background-size: 100% 100%;
    font-family: 'Special Elite', cursive;
}
#content .blog-heading{
    font-size: 62px;
    line-height: 35px;
    color: #ffffff;
}
#content .blog-sub-heading{
    font-size: 90px;
    line-height: 140px;
    color: #ffffff;
    margin-bottom: -7px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

#content .cart-section{
    color: #fff;
    background: rgb(51,27,7);
    margin-left:  70px;
    margin-right: 70px;
    margin-top: 70px;
}
#content .the-best-seller-name
{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
#content .cart-list {
    margin-top: 32px;
    
}
#content .cart-img
{
    width: 100%;
    display: block;
}
#content .cart-img:hover{
    opacity: 0.6;
    cursor: pointer;
}
#content .the-best-seller-body
{
    padding: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1px;
}

/*Contact Content*/
#content .contact-section{
    padding: 40px 120px 60px;
    width: 100%;
}
#content .contact-heading{
    padding-bottom: 12px;
    color: rgb(35, 28, 7);
    letter-spacing: 1px;
}
#content .contact-body{
    letter-spacing: 1px;
    line-height: 1.4;
    color: #2b2d42;
}
.contact-form{
    font-size: 25px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-left: -18px;
    border-radius: 6px;
    box-sizing: border-box;
}
.btn
{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 14px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    margin-right: 36px;
    
}
.btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* FOOTER */
#footer{
    height: 240px;
    background-color: #331B07;
    color: #fff;
    padding: 50px 60px;
    line-height: 1.4;
}

#footer .footer-name{
    text-align: center;
}

#footer .footer-name-heading{
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

#footer .socials-list{
    font-size: 24px;
    
}

#footer .socials-list a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 24px;
}

#footer .socials-list a:hover{
    color: rgba(255, 255, 255, 0.4);
}

#footer .footer-heading{
    font-size: 25px;
    font-family: 'Special Elite', cursive;
    font-weight: 5px;
}

#footer .footer-about-us{
    margin-left: 48px;
    padding-left: 60px;
}

#footer .footer-about-us li{
    list-style: none;
}


#footer .footer-about-us li a,
#footer .reser-content{
    text-decoration: none;
    color: #fff;
    line-height: 1.4;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
}

#footer .footer-about-us li a:hover{
    text-decoration: underline;
    
}

#footer .about-arrow{
    text-decoration: none;
    padding-right: 5px;
}

#footer .reser-content a{
    color: #fff;
    text-decoration: none;
}

#footer .reser-content a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.4);
}

#footer .reser-content p{
    padding-bottom: 4px;
}